<ActionBar title="Computer Scientists" iosLargeTitle="true">

    <ActionItem
            text="☰"
            (tap)="openDrawer()"
            android.position="actionBar">
    </ActionItem>

</ActionBar>

<GridLayout rows="auto,*">

    <SearchBar
            row="0"
            hint="Search scientists..."
            [(ngModel)]="searchModel"
            appMinSearchLength
            (textChange)="onSearchChange($event)">
    </SearchBar>

    <PullToRefresh
            row="1"
            (refresh)="refreshList($event)">

        <ListView [items]="filteredItems()">
        <ng-template let-item="item">
            <FlexboxLayout
                    flexDirection="row"
                    alignItems="center"
                    (tap)="openDetail(item.id)">

                <Label
                        [text]="item.name"
                        class="text-lg text-gray-500 p-4">
                </Label>

                <Label
                        [text]="item.category">
                </Label>

                <Button
                        text="Category"
                        (tap)="changeCategory(item)">
                </Button>

            </FlexboxLayout>
        </ng-template>

    </ListView>
    </PullToRefresh>

</GridLayout>
